* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #fff;
  width: 100%;
}
.navbar img {
  height: 130px;
  width: 150px;
  transition: 0.3s;
}
.navbar img:hover {
  transform: scale(1.2);
}

.nav-link {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
  background-image: linear-gradient(to left, #9253c8, #1774ae);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
}
.nav-link:hover {
  color: #56bde2;
  background-image: linear-gradient(to left, #9253c8, #1774ae);
  background-size: 100% 4px;
}

footer {
  background-color: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-net {
  display: flex;
  font-size: 30px;
  gap: 15px;
}

.bi {
  color: #fff;
  transition: 0.3s;
}
.bi:hover {
  color: #0d6efd;
  font-size: 33px;
}

.mainInicio {
  background-color: #8dbee6;
}

.title-inicio-container {
  background-image: url(../images/fondo\ de\ falopa\ \(1\).png);
  opacity: 0.9;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-inicio-container h1 {
  font-weight: bold;
  font-size: 100px;
  color: #fff;
  font-family: Arial;
}

.materiales {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  font-family: Georgia;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 3em;
}
.materiales img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.3s;
}
.materiales img:hover {
  transform: scale(1.1);
}
.materiales div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 3em 0;
  margin: 15px;
  background-color: #caf6ca;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 2px #000;
}

.utilidad {
  width: 100%;
  font-weight: 100;
  font-size: 16px;
  color: #000;
  font-family: Georgia;
  background-color: #78C1F3;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 0;
}
.utilidad h2 {
  font-weight: bold;
  text-align: center;
}
.utilidad div {
  display: flex;
  flex-direction: column;
}

.back-img {
  width: 270px;
  height: 400px;
  object-fit: cover;
  border-radius: 0;
  margin: 5%;
}

.over-icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  transition: 0.3s;
}
.over-icon:hover {
  transform: scale(1.1);
}

.bi-moon-stars-fill {
  font-size: 45px;
  text-align: center;
}
.bi-moon-stars-fill:hover {
  font-size: 46px;
}

.products-main {
  background-color: #78C1F3;
}

.title-products-container {
  background-color: #9BE8D8;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-products-container h1 {
  font-weight: bold;
  font-size: 100px;
  color: #fff;
  font-family: Arial;
}

.products {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 330px);
  gap: 30px;
  justify-content: center;
}
.products_body {
  width: 330px;
  background-color: #eee;
  border-radius: 13px;
  box-shadow: 2px 2px 2px 2px #000;
  transition: 0.3s;
}
.products_body:hover {
  transform: scale(1.03);
}
.products_body img {
  width: 100%;
  height: 500px;
  object-fit: repeat;
  border-radius: 15px 15px 0 0;
}

.mainAbout {
  background-color: #78C1F3;
}

.title-about-container {
  background-color: #9BE8D8;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-about-container h1 {
  font-weight: bold;
  font-size: 100px;
  color: #fff;
  font-family: Arial;
}
.title-about-container p {
  font-weight: 100;
  font-size: 30px;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

.about-body {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0;
}
.about-body-lateral img {
  width: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
.about-body-us p {
  margin: 30px;
  font-weight: 100;
  font-size: 20px;
  color: #000;
  font-family: Georgia;
}
.about-body-us h2 {
  font-weight: 100;
  font-size: 40px;
  color: #000;
  font-family: Georgia;
  margin: 30px;
}
.about-body-us-p-container p:first-child {
  font-weight: bold;
}

.main-blog {
  background-color: #C1ECE4;
}

.title-blog-container {
  background-color: #9BE8D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.title-blog-container h1 {
  font-weight: bold;
  font-size: 100px;
  color: #fff;
  font-family: Arial;
}
.title-blog-container h2 {
  font-weight: 900;
  font-size: 50px;
  color: #fff;
  font-family: "Times New Roman";
}

.section-blog {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0;
}

.lateral-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.blog-rest, .blog-sports, .blog-animals {
  display: flex;
  flex-direction: row;
}
.blog-rest img, .blog-sports img, .blog-animals img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.3s;
}
.blog-rest img:hover, .blog-sports img:hover, .blog-animals img:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px 2px #a4a4a4;
}

.description-container {
  flex-direction: column;
}
.description-container h3 {
  font-weight: 800;
  font-size: 25px;
  color: #000;
  font-family: Georgia;
  margin: 5px;
}
.description-container p {
  font-size: 16px;
  padding-left: 5px;
  margin: 5px;
}

#carouselExampleAutoplaying {
  width: 620px;
  height: 620px;
  object-fit: cover;
  border-radius: 0;
}

.contact-body {
  background-color: #78C1F3;
}

.title-contact-container {
  background-color: #9BE8D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.title-contact-container h1 {
  font-weight: bold;
  font-size: 100px;
  color: #fff;
  font-family: Arial;
}

.contact-main {
  height: 100%;
  width: 100%;
}
.contact-main-section {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0;
  width: 800px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px #636262;
  margin: 50px auto;
  background-color: #fff;
}

.formulario div {
  margin: 0 0 30px 20px;
}
.formulario h2 {
  text-align: center;
}
.formulario label {
  font-weight: bold;
  font-size: 20px;
  color: #000;
  font-family: Arial;
}
.formulario input, .formulario textarea {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #0b72a6;
  width: 90%;
}

.lateral-more-info {
  background-color: #45CFDD;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.3s;
}
.lateral-more-info div {
  font-weight: 100;
  font-size: 16px;
  color: #fff;
  font-family: Arial;
}
.lateral-more-info i {
  font-size: 50px;
}
.lateral-more-info iframe {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 50px;
}
.lateral-more-info iframe:hover {
  transform: scale(1.03);
}

.contact-info-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 0;
  text-align: center;
}

.contact-button {
  border: none;
  background-color: #6897cc;
  width: 30%;
  height: 35px;
  object-fit: cover;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  font-family: "Trebuchet MS";
  margin-left: 20px;
}
.contact-button:hover {
  background-color: #3bbecc;
  color: #fff;
  box-shadow: 0 0 10px 5px #8fd7d1;
}

@media screen and (max-width: 1030px) {
  .materiales {
    gap: 2em;
  }
  .back-img {
    width: auto;
  }
}
@media screen and (max-width: 920px) {
  .title-inicio-container h1 {
    font-size: 70px;
  }
  .utilidad {
    grid-template-columns: repeat(2, 50%);
    text-align: center;
  }
}
@media screen and (max-width: 815px) {
  .materiales {
    gap: 1.5em;
  }
}
@media screen and (max-width: 700px) {
  .materiales p {
    font-weight: 400;
  }
}
@media screen and (max-width: 630px) {
  .title-inicio-container h1 {
    font-size: 50px;
  }
  .materiales {
    gap: 1em;
  }
  .materiales h2 {
    font-weight: 700;
    font-size: 18px;
    color: #000;
    font-family: Georgia;
  }
  .materiales p {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .materiales {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 460px) {
  .title-inicio-container h1 {
    font-size: 32px;
  }
  .utilidad {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1030px) {
  /* main */
  .products {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
  }
  .products_body {
    margin: auto;
  }
}
@media screen and (max-width: 750px) {
  /* main */
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 620px) {
  /* footer */
  footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  /* main */
  .title-products-container h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 415px) {
  .title-products-container h1 {
    font-size: 70px;
  }
  .products_body {
    width: 100%;
  }
  .products_body:hover {
    transform: scale(0.95);
  }
}
@media screen and (max-width: 365px) {
  .title-products-container h1 {
    font-size: 60px;
  }
}
/* mediaqueries Sobre nosotros */
@media screen and (max-width: 1050px) {
  .aboutUs p {
    font-size: 16px;
  }
  .aboutUS h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 850px) {
  .about-body {
    display: flex;
    flex-direction: column;
  }
  .about-body-lateral {
    display: flex;
    justify-content: center;
  }
  .about-body-lateral img {
    width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 0;
  }
  .aboutUS {
    display: grid;
    grid-template-columns: 1 100%;
    gap: 0;
    grid-template-rows: 1, 100%;
    grid-template-areas: "title";
  }
  .aboutUs h2 {
    grid-area: "title";
  }
  .about-body-us-p-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 0;
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: "p1 p2" "p3 p4" "p3 p5";
  }
  .about-body-us-p-container p:first-child {
    grid-area: "p1";
  }
  .about-body-us-p-container p:first-child:nth-child(2) {
    grid-area: "p2";
  }
  .about-body-us-p-container p:first-child:nth-child(3) {
    grid-area: "p3";
  }
  .about-body-us-p-container p:first-child:nth-child(4) {
    grid-area: "p4";
  }
  .about-body-us-p-container p:first-child:last-child {
    grid-area: "p5";
  }
}
@media screen and (max-width: 730px) {
  .title-about-container h1 {
    font-size: 80px;
  }
  .bout-body-us-p-container p {
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .title-about-container h1 {
    font-size: 60px;
  }
  .title-about-container p {
    font-size: 20px;
  }
  .about-body-us-p-container {
    gap: 15px;
  }
}
@media screen and (max-width: 516px) {
  .about-body-lateral img {
    width: 400px;
  }
  .about-body-us-p-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .title-about-container h1 {
    font-size: 50px;
  }
  .title-about-container p {
    font-size: 16px;
  }
}
@media screen and (max-width: 416px) {
  .about-body-lateral img {
    width: 350px;
  }
}
/* mediaqueries Blog */
@media screen and (max-width: 1030px) {
  .section-blog {
    display: flex;
    flex-direction: column;
  }
  .main-section-blog {
    order: 1;
  }
  .lateral-blog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .blog-animals, .blog-sports, .blog-rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .description-container {
    text-align: center;
  }
  #carouselExampleAutoplaying {
    margin: 15px auto;
  }
}
@media screen and (max-width: 721px) {
  .lateral-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }
  .title-blog-container h2 {
    font-size: 40px;
  }
  #carouselExampleAutoplaying {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 0;
  }
}
@media screen and (max-width: 590px) {
  #carouselExampleAutoplaying {
    width: 530px;
    height: 530px;
    object-fit: cover;
    border-radius: 0;
  }
  .title-blog-container h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 550px) {
  #carouselExampleAutoplaying {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 0;
  }
}
@media screen and (max-width: 470px) {
  #carouselExampleAutoplaying {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 0;
  }
}
@media screen and (max-width: 370px) {
  #carouselExampleAutoplaying {
    width: 300px;
    height: 300px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 0;
  }
  .title-blog-container h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  #carouselExampleAutoplaying {
    width: 280px;
    height: 280px;
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 0;
  }
}
/* mediaqueries Contacto */
@media screen and (max-width: 820px) {
  .contact-main-section {
    width: 700px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
  }
  .lateral-more-info i {
    font-size: 30px;
  }
  .lateral-more-info iframe {
    margin-left: 25px;
    height: 180px;
  }
  .contact-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
@media screen and (max-width: 718px) {
  .contact-main-section {
    width: 600px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
  }
  .contact-main-section iframe {
    width: 250px;
  }
}
@media screen and (max-width: 618px) {
  .contact-main-section {
    width: 500px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
  }
  .contact-main-section iframe {
    width: 200px;
  }
}
@media screen and (max-width: 518px) {
  .contact-main-section {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
  }
  .contact-main-section iframe {
    width: 150px;
  }
}
@media screen and (max-width: 440px) {
  .title-contact-container h1 {
    font-size: 80px;
  }
  .contact-main-section {
    width: 350px;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lateral-more-info {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
  }
  .lateral-more-info iframe {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 75px;
  }
  .contact-button {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 370px) {
  .title-contact-container h1 {
    font-size: 60px;
  }
  .contact-main-section {
    width: 300px;
    height: 70%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lateral-more-info {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
  }
  .lateral-more-info iframe {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 320px) {
  .contact-main-section {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lateral-more-info {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
  }
  .lateral-more-info iframe {
    width: 50%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 25%;
  }
}

/*# sourceMappingURL=style.css.map */
