*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* inicio  */
/* header */
.nav-inicio{
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
.nav-inicio ul{
    list-style:none;
    order: 3;
    align-self: center;
}
.nav-inicio li { 
    padding: 5px;
    display: inline;
}
.nav-inicio a{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
    font-weight: bold;
}
.nav-inicio img{
    height: 130px;
    width: 130px;
}
/* main  */
.mainInicio{
    background-color: #9dc0e0;
}
.title-inicio-container{
    background-image: url(../images/fondo\ de\ falopa.avif);
    opacity: 0.9;
}
.title-inicio-container h1{
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    height: 300px;
    width: 100%;
    padding-top: 100px;
    text-align: center;
}
.materiales{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: repeat(3,30%);
    gap: 3em;
}
.materiales img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #fff;
}
.materiales div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em 0;
}
.utilidad{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #a4d4f4;
    display: grid;
    grid-template-columns: repeat(4,25%);
    padding: 5px 10px;
}
.utilidad h2{
    font-weight: bold;
    text-align: center;
}
.utilidad div{
    display: flex;
    flex-direction: column;
}
.back-img{
    height: 400px;
    width: 270px;
    object-fit: cover;
}
.over-icon{
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: -650px;
    background-color: #fff;
    border-radius: 50%;
}
.recuperacion-icon{
    left:110px;
}
.meditacion-icon{
    left: 425px;
}
.bi-moon-stars-fill{
    font-size: 45px;
    text-align: center;
    right: 460px;
}
.alivio-icon{
    right: 140px;
}
.alivio-info{
    margin-left: 5px;
}
/* productos  */
/* header  */
.nav-productos{
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
.nav-productos ul{
    order: 3;
    list-style: none;
    align-self: center;
}
.nav-productos li {
    display: inline;
    padding: 5px;
}
.nav-productos a{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
    font-weight: bold;
}
.nav-productos img{
    height: 130px;
    width: 130px;
}
/* main  */
.products-main{
    background-color: #83baed;
}
.title-products-container{
    background-color: #60eea5;
}
.title-products-container h1{
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    height: 300px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
}
.products{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,330px);
    gap: 30px;
}
.products_body img{
    width: 100%;
    height: 500px;
    object-fit: repeat;
    border-radius: 15px 15px 0 0;
}
.products_body{
    width: 330px;
    background-color: #eee;
    margin-left: 80px;
    border-radius: 13px;
    box-shadow: 2px 2px 2px 2px #000;
}
/* sobre nosotros  */
/* header */
.nav-about{
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
.nav-about ul{
    order: 3;
    list-style: none;
    align-self: center;
}
.nav-about li {
    display: inline;
    padding: 5px;
}
.nav-about a{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
    font-weight: bold;
}
.nav-about img{
    height: 130px;
    width: 130px;
}
/* main  */
.bodyAbout{
    background-color: #ACECDF;
}
.title-about-container{
    background-color: #60cbde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.title-about-container h1{
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    padding-top: 100px;
}
.title-about-container p{
    text-align: center;
    color: #eee;
    font-size: 30px;
}
.aboutUs{
    color: #000;
}
.aboutUsP1{
    font-weight: bold;
}
.aboutUs p{
    font-size: 20px;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutUs h2{
    font-size: 40px;
    margin: 10px;
}
/* blog  */
/* header  */
.nav-blog{
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
.nav-blog ul{
    order: 3;
    list-style: none;
    align-self: center;
}
.nav-blog li {
    display: inline;
    padding: 5px;
}
.nav-blog a{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
    font-weight: bold;
}
.nav-blog img{
    height: 130px;
    width: 130px;
}
/* main  */
.body-blog{
    background-color: rgba(145, 79, 245, 0.706);
}
.title-blog-container{
    background-color: #31b0cd;
}
.title-blog-container h1{
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    height: 300px;
}
.section-blog h2{
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.rest-description-container{
    display: flex;
    flex-direction: column;
}
.rest-description-container h3{
    font-size: 25px;
    font-weight: 800;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}
.rest-description-container p{
    padding-left: 5px;
    margin: 5px;
    font-size: 16px;
}
.blog-rest{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.blog-rest img{
    height: 200px;
    width: 350px;
    object-fit: cover;
    border-radius: 20px;
    padding: 5px;
}
.blog-sports{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.blog-sports img{
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    padding: 5px;
}
.sports-description-container p{
    padding-left: 5px;
    margin: 5px;
    font-size: 16px;
}
.sports-description-container h3{
    font-size: 25px;
    font-weight: 800;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}
 /* contacto  */
/* header */
.nav-contacto{
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
.nav-contacto ul{
    order: 3;
    list-style: none;
    align-self: center;
}
.nav-contacto li {
    display: inline;
    padding: 5px;
}
.nav-contacto a{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
    font-weight: bold;
}
.nav-contacto img{
    height: 130px;
    width: 130px;
}
/* main  */
.title-contact-container{
    background-color: #0b72a6;
}
.title-contact-container h1{
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    padding-top: 100px;
    height: 300px;
}
.contact-body{
    background-color: #ccc;
}
.formulario{
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.nombre{
    margin: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.apellido{
    margin: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email{
    margin: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.texto{
    margin: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mensaje-label{
    display: block;
}
.contact-section{
    margin: 10px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}
.contact-button{
    border: none;
    border-radius: 10px;
    background-color: #6897cc;
    margin-left: 24px;
    width: 33%;
    height: 35px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-button:hover{
    background-color: #443b88;
    color: #eee;
}
/* footer */
footer{
    background-color: #0a0b0c;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-net{
    display: flex;
    font-size: 30px;
    gap: 15px;
}
.bi{
    color: #fff;
}
.bi:hover{
    color: #0d6efd;
}
/* hover para los links de los navs */
nav a:hover{
    color: #ccc;
}