.main-blog{
    background-color: #C1ECE4;
}
.title-blog-container{
    background-color: $title-container-color;
    @include flex(column,center,center);
    height: 300px;
    h1{
        @include font (bold,$title-font-size,$text-color-primary,Arial);
    }
    h2{
        @include font (900,50px,$text-color-primary,'Times New Roman');
    }
}
.section-blog{
    @include grid (repeat(2,50%),0);
}
.lateral-blog{
    @include flex(column,center,space-between);
}
.blog-rest{
    display: flex;
    flex-direction: row;
    img{
    @include img (200px,200px,cover,50%);
    transition: .3s;
    &:hover{
        transform: scale(1.05);
        box-shadow: $box-shadow-lateral-blog;
    }
    }
}
.description-container{
    flex-direction: column;
    h3{
        @include font (800,25px,#000,Georgia);
        margin: 5px;
    }
    p{
        font-size: 16px;
        padding-left: 5px;
        margin: 5px;
    }
}
.blog-sports,.blog-animals{
    @extend .blog-rest;
}
#carouselExampleAutoplaying{
    @include img (620px,620px,cover,0);
}