.contact-body{
    background-color: $primary-color;
}
.title-contact-container{
    background-color: $title-container-color;
    @include flex(column,center,center);
    height: 300px;
    h1{
        @include font (bold,$title-font-size,$text-color-primary,Arial);
    }
}
.contact-main{
    height: 100%;
    width: 100%;
    &-section{
        @include grid (repeat(2,50%),0);
        @include img (800px,450px,cover,10px);
        box-shadow: 1px 1px 10px 10px #636262;
        margin: 50px auto;
        background-color: $text-color-primary;
    }
}
.formulario{
    div{
        margin: 0 0 30px 20px;
    }
    h2{
        text-align: center;
    }
    label{
        @include font (bold,20px,#000,Arial);
    }
    input,textarea{
        border: none;
        outline: none;
        background: none;
        border-bottom: 1px solid #0b72a6;
        width: 90%;
    }
}
.lateral-more-info{
    background-color: #45CFDD;
    border-radius: 0 10px 10px 0;
    @include flex (row,flex-start,space-between);
    flex-wrap: wrap;
    transition: .3s;
    div{
        @include font (100,16px,$text-color-primary,Arial);
    }
    i{
        font-size: 50px;
    }
    iframe{
        @include img (300px,300px,cover,10px);
        margin-left:  50px;
        &:hover{
            transform: scale(1.03);
        }
    }
}
.contact-info-container{
    @include grid (repeat(3,33%),0);
    text-align: center;
}
.contact-button{
    border: none;
    background-color: #6897cc;
    @include img (30%,35px,cover,10px);
    @include font (600,18px,#000,'Trebuchet MS');
    margin-left: 20px;
    &:hover{
        background-color: #3bbecc;
        color: $text-color-primary;
        box-shadow: 0 0 10px 5px #8fd7d1;
    }
}