.mainInicio{
    background-color:  #8dbee6;
}
.title-inicio-container{
    background-image: url(../images/fondo\ de\ falopa\ \(1\).png);
    opacity: 0.9;
    height: 300px;
    @include flex(column,center,center);
    h1{
        @include font (bold,$title-font-size,$text-color-primary,Arial);
    }
}

.materiales{
    width: 100%;
    @include font (bold,20px,#000,Georgia);
    @include grid (repeat(3,30%),3em);
    img{
        @include img (100px,100px,cover,50%);
        background-color: $text-color-primary;
        transition: .3s;
        &:hover{
            transform: scale(1.1);
        }
    }
    div{
        @include flex(column,center,flex-start);
        text-align: center;
        padding: 3em 0;
        margin: 15px;
        background-color: #caf6ca;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 2px #000;
    }
}

.utilidad{
    width: 100%;
    @include font (100,16px,#000,Georgia);
    background-color:  $primary-color;
    @include grid (repeat(4,25%),0);
    h2{
        font-weight: bold;
        text-align: center;
    }
    div{
        display: flex;
        flex-direction: column;
    }
}
.back-img{
    @include img (270px,400px,cover,0);
    margin: 5%;
}
.over-icon{
    @include img (70px,70px,cover,50%);
    background-color: $text-color-primary;
    margin: 0 auto;
    transition: .3s;
    &:hover{
        transform: scale(1.1);
    }
}
.bi-moon-stars-fill{
    font-size: 45px;
    text-align: center;
    &:hover{
        font-size: 46px;
    }
}
