// mediaqueries inicio
@media screen and (max-width:1030px){
    .materiales{
        gap: 2em;
    }
    .back-img{
        width: auto;
    }
}
@media screen and (max-width:920px){
    .title-inicio-container{
        h1{
            font-size: 75px;
        }
    }
    .utilidad{
        grid-template-columns: repeat(2,50%);
        text-align: center;
    }
}
@media screen and (max-width:815px){
    .materiales{
        gap: 1.5em;
     }
}
@media screen and (max-width:700px){
    .title-inicio-container h1{
        font-size: 53px;
    }
    .materiales{
        p{
            font-weight: 400;
        }
    }
}
@media screen and (max-width:650px){
    .materiales{
        gap: 1em;
        h2{
            @include font(700,18px,#000,Georgia)
        }
        p{
            font-size: 16px;
        }
    }
}
@media screen and (max-width:500px){
    .title-inicio-container h1{
        font-size: 47px;
    }
    .materiales{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:460px){
    .title-inicio-container{
    h1{
        font-size: 35px;
    }
}
    .utilidad{
        display: flex;
        flex-direction: column;
    }
}
// mediaqueries productos
@media screen and (max-width:1030px){
    /* main */
    .products{
        @include grid (repeat(2,50%),20px);
    }
    .products_body{
        margin: auto;
    }
}
@media screen and (max-width: 750px){
    /* main */
    .products{
        @include flex (column,center,center);
    }
}
@media screen and (max-width: 620px){
    /* footer */
    footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 500px){
    /* main */
    .title-products-container h1{
        font-size: 80px;
    }
}
@media screen and (max-width: 415px){
    .title-products-container h1{
        font-size: 70px;
    }
    .products_body{
        width: 100%;
        &:hover{
            transform: scale(0.95);
        }
    }
}
@media screen and (max-width:365px){
    .title-products-container h1{
        font-size: 60px;
    }
}
/* mediaqueries Sobre nosotros */
@media screen and (max-width: 1050px){
    .aboutUs p{
        font-size: 16px;
    }
    .aboutUS h2{
        font-size: 30px;
    }
}
@media screen and (max-width:850px) {
    .title-about-container h1{
        font-size: 90px;
    }
    .about-body{
        display: flex;
        flex-direction: column;
    }
    .about-body-lateral{
        display: flex;
        justify-content: center;
        img{
            @include img (500px,600px,cover,0);
        }
    }
    .aboutUS{
        @include grid (1 100%,0);
        grid-template-rows: 1,100%;
        grid-template-areas: 
        "title"
    }
    .aboutUs h2{
        grid-area: "title";
    }
    .about-body-us-p-container{
        @include grid (repeat(2,50%),0);
        grid-template-rows: repeat(3,33%);
        grid-template-areas: 
        "p1 p2"
        "p3 p4"
        "p3 p5";
        p:first-child{
            grid-area:"p1";
            &:nth-child(2){
                grid-area:"p2";
            }
            &:nth-child(3){
                grid-area:"p3";
            }
            &:nth-child(4){
                grid-area:"p4";
            }
            &:last-child{
                grid-area:"p5";
            }
        }
    }
}
@media screen and (max-width:730px) {
    .title-about-container h1{
        font-size: 77px;
    }
    .bout-body-us-p-container p{
        gap: 20px;
    }
}
@media screen and (max-width:600px) {
    .title-about-container {
        h1{
            font-size: 57px;
        }
        p{
            font-size: 20px;
        }
    }
    .about-body-us-p-container{
        gap: 15px;
    }
}
@media screen and (max-width:516px){
    .about-body-lateral img{
        width: 400px;
    }
    .about-body-us-p-container{
        @include flex(column,center,center);
    }
}
@media screen and (max-width:450px){
    .title-about-container{
        h1{
            font-size: 50px;
        }
        p{
            font-size: 16px;
        }
    }
}
@media screen and (max-width:416px){
    .about-body-lateral img{
        width: 350px;
    }
}
/* mediaqueries Blog */
@media screen and (max-width: 1030px){
    .section-blog{
        display: flex;
        flex-direction: column;
    }
    .main-section-blog{
        order: 1;
    }
    .lateral-blog{
        @include flex(row,center,space-between);
    }
    .blog-animals,.blog-sports,.blog-rest{
        @include flex(column,center,space-between);
    }
    .description-container{
        text-align: center;
    }
    #carouselExampleAutoplaying{
        margin: 15px auto;
    }
}
@media screen and (max-width: 721px){
    .lateral-blog{
        @include flex(column,center,space-between);
        margin: 10px;
    }
    .title-blog-container{
        h2{
            font-size: 40px;
        }
    }
    #carouselExampleAutoplaying{
        @include img (570px,570px,cover,0);
    }
}
@media screen and (max-width: 590px){
    #carouselExampleAutoplaying{
        @include img (530px,530px,cover,0);
    }
    .title-blog-container{
        h2{
            font-size: 30px;
        }
    }
}
@media screen and (max-width: 550px){
    #carouselExampleAutoplaying{
        @include img (450px,450px,cover,0);
    }
}

@media screen and (max-width:470px){
    #carouselExampleAutoplaying{
        @include img (350px,350px,cover,0);
    }
}
@media screen and (max-width:370px){
    #carouselExampleAutoplaying{
        width: 300px;
        height: 300px;
        @include img (300px,300px,cover,0);
    }
    .title-blog-container{
        h2{
            font-size: 20px;
        }
    }
}
@media screen and (max-width:320px){
    #carouselExampleAutoplaying{
        width: 280px;
        height: 280px;
        @include img (280px,280px,cover,0);
    }
}
/* mediaqueries Contacto */
@media screen and (max-width:820px){
    .contact-main-section{
        @include img (700px,450px,cover,10px);
    }
    .lateral-more-info{
        i{
            font-size: 30px;
        }
        iframe{
            margin-left: 25px;
            height: 180px;
        }
    }
    .contact-info-container{
        @include flex(column,center,center);
        margin: auto;
    }
}
@media screen and (max-width:718px){
    .contact-main-section{
        @include img (600px,450px,cover,10px);
        iframe{
            width: 250px;
        }
    }
}
@media screen and (max-width:618px) {
    .contact-main-section{
        @include img (500px,450px,cover,10px);
        iframe{
            width: 200px;
        }
    }
}
@media screen and (max-width:518px) {
    .contact-main-section{
        @include img (400px,450px,cover,10px);
        iframe{
            width: 150px;
        }
    }
}
@media screen and (max-width:440px){
    .title-contact-container{
        h1{
            font-size: 80px;
        }
    }
    .contact-main-section{
        @include img (350px,70%,cover,10px);
        @include flex(column,center,center);
    }
    .lateral-more-info{
        iframe{
            @include img (200px,200px,cover,10px);
            margin-left: 75px;
        }
    }
    .contact-button{
        margin-bottom: 5px;
    }
}
@media screen and (max-width:370px){
    .title-contact-container{
        h1{
            font-size: 60px;
        }
    }
    .contact-main-section{
        @include img (300px,70%,cover,10px);
        @include flex(column,center,center);
    }
    .lateral-more-info{
        iframe{
            @include img (200px,200px,cover,10px);
            margin-left: 50px;
        }
    }
}
@media screen and (max-width:320px){
    .contact-main-section{
        @include img (100%,70%,cover,10px);
        @include flex(column,center,center);
    }
    .lateral-more-info{
        iframe{
            @include img (50%,200px,cover,10px);
            margin-left: 25%;
        }
    }
}