.products-main{
    background-color: $primary-color;
}
.title-products-container{
    background-color: $title-container-color;
    height: 300px;
    @include flex(column,center,center);
    h1{
        @include font (bold,$title-font-size,$text-color-primary,Arial);
    }
}
.products{
    padding: 30px 0;
    @include grid (repeat(3,330px),30px);
    justify-content: center;
    &_body{
        width: 330px;
        background-color: #eee;
        border-radius: 13px;
        box-shadow: 2px 2px 2px 2px #000;
        transition: .3s;
    &:hover{
        transform: scale(1.03);
    }
        img{
            @include img (100%,500px,repeat,15px 15px 0 0);
        }
    }
}