.mainAbout{
    background-color: $primary-color;
}
.title-about-container{
    background-color: $title-container-color;
    height: 300px;
    @include flex(column,center,center);
    h1{
        @include font (bold,$title-font-size,$text-color-primary,Arial);
    }
    p{
        @include font (100,30px,$text-color-primary,Arial);
        text-align: center;
    }
}
.about-body{
    @include grid (repeat(2,50%),0);
    &-lateral{
        img{
            @include img (500px,100%,cover,0);
        }
    }
    &-us{
    p{
        margin: 30px;
        @include font (100,20px,#000,Georgia);
    }
    h2{
        @include font (100,40px,#000,Georgia);
        margin: 30px;
    }
    &-p-container{
        p:first-child{
            font-weight: bold;
        }
    }
    }
}